<div style="padding: 12px">
  <!-- Error Message Start -->
  <div
    *ngIf="errorMessage"
    class="alert alert-danger alert-dismissible fade show"
    role="alert"
  >
    {{ errorMessage }}
    <button
      (click)="errorMessage = ''"
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  <!-- Error Message End -->

  <div style="display: flex; gap: 12px">
    <div class="mb-3 row">
      <label
        for="table-complete-search"
        class="col-xs-3 col-sm-auto col-form-label"
        >Search by name or email:</label
      >
      <div class="col-xs-3 col-sm-auto">
        <input
          id="table-complete-search"
          type="text"
          class="form-control"
          name="searchTerm"
          (keyup)="filterUserList()"
          [(ngModel)]="searchQuery"
        />
      </div>
    </div>

    <div class="d-flex justify-content-end mb-3 gap-1" style="min-width: 210px">
      <!-- Toggle buttons to switch views -->
      <button
        class="btn"
        [ngClass]="{ 'btn-primary': !showTable, 'btn-secondary': showTable }"
        (click)="toggleView(true)"
      >
        Card View
      </button>
      <button
        class="btn ml-2"
        [ngClass]="{ 'btn-primary': showTable, 'btn-secondary': !showTable }"
        (click)="toggleView(false)"
      >
        Table View
      </button>
    </div>
  </div>

  <!-- User Table Start -->

  <div class="w-full overflow-x-auto">
    <table class="table table-striped" *ngIf="showTable == true">
      <thead>
        <tr>
          <th scope="col">S.N</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Address</th>
        </tr>
      </thead>
      <tbody *ngIf="isLoading == false">
        <tr
          *ngFor="let user of pagedList; let i = index"
          (click)="goToUserDetails(user?.id)"
          style="cursor: pointer"
        >
          <td scope="row">{{ (page - 1) * pageSize + i + 1 }}</td>
          <td>
            <div style="min-width: 200px">
              {{ user?.name || "-" }}
            </div>
          </td>
          <td>{{ user?.email || "-" }}</td>
          <td>
            <div style="min-width: 200px">
              {{ user?.phone || "-" }}
            </div>
          </td>
          <td>{{ user?.address?.city || "-" }}</td>
        </tr>
      </tbody>

      <tbody *ngIf="isLoading == true">
        <tr>
          <td colspan="5">
            <div
              *ngIf="isLoading == true"
              style="
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 600;
                font-size: 20px;
              "
            >
              Loading...
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- User Table End -->

  <!-- User Card Start -->
  <div *ngIf="showTable == false">
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-4" *ngFor="let user of pagedList">
          <!-- User Card Start -->
          <div
            class="card shadow-sm"
            style="margin-bottom: 12px; cursor: pointer"
            (click)="goToUserDetails(user?.id)"
          >
            <div class="card-header text-center">
              <h5>{{ user.name }}</h5>
              <small class="text-muted">{{ user.company.name }}</small>
            </div>
            <div class="card-body">
              <p><strong>Email:</strong> {{ user.email }}</p>
              <p><strong>Phone:</strong> {{ user.phone }}</p>
              <p><strong>Address:</strong></p>
              <ul>
                <li><strong>Street:</strong> {{ user.address.street }}</li>
                <li><strong>City:</strong> {{ user.address.city }}</li>
                <li><strong>Zipcode:</strong> {{ user.address.zipcode }}</li>
              </ul>
            </div>
          </div>
          <!-- User Card End -->
        </div>
      </div>
    </div>
  </div>
  <!-- User Card End -->

  <div style="display: flex; justify-content: end; margin-right: 12px">
    <ngb-pagination
      [(page)]="page"
      (pageChange)="onPageChange($event)"
      [pageSize]="pageSize"
      [collectionSize]="userList.length"
    />
  </div>
</div>
